body {
    background-color: #060000;
}

.contaner {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
}

.header {
    color: white;
}

h1 {
    font-size: 48px;
    color: white;
}

h2 {
    font-size: 32px;
    margin-left: 70px;
}

.menu {
    color: white;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

.top {
    width: 100%;
}

.logo {
    display: flex;
    justify-content: space-around;
}

.two {
    display: flex;
    justify-content: space-between;
}

button {
    height: 100px;
    width: 500px;
    align-self: center;
    font-size: 32px;
    background-color: red;
    color: white;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

p {
    color: white;
    font-size: 32px;
}

.three { 
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.center {
    margin-left: 550px;
}

.stejk {
    margin-left: 100px;
}

input {
    width: 560px;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

.newBtn {
    display: flex;
    justify-content: center;
}

.btn {
    width: 390px;
    height: 70px;
}

.top2 {
    width: 100%;
    height: 70vh;
}

@media all and (max-width: 800px) {
    .contaner {
        display: flex;
        flex-direction: column;
    }
    .top {
        width: 100%;
        height: 50vh;
    }
    img {
        width: 100px;
        height: 100px;
    }
    .two {
        display: flex;
        flex-direction: column;
    }
    .foto {
        width: 100%;
        height: 100vh;
    }
    button {
        width: 100%;
    }
    .center {
        margin: 0;
    }
    input {
        width: 90%;
    }
}